/* Global Box-Sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Header Styles */
header {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Make it the same width as the page content */
    margin: 0 auto; /* Center the content */
}

.logo h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.logo .tagline {
    font-size: 1rem;
    font-weight: 400;
    color: #aaa;   
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #888;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.05em;
}

nav a:hover {
    color: #555;
    text-decoration: underline;
}


/* Video Section */
.video-section {
    text-align: center;
    padding: 40px;
}

.video-container {
    width: 100%;
    max-width: 1200px; /* Limit video width */
    margin: 0 auto;
}

/* Description Section */
.description {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.description h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.description p, .description ul {
    font-size: 1rem;
    line-height: 1.6;
}

.description ul {
    padding-left: 20px;
}

.description ul li {
    list-style: disc;
}

.spacer {
    height: 20px; 
    margin: 20px 0; 
}
.linespacer {
    height: 20px; 
    margin: 20px 0; 
    border-top: 1px solid #ccc; /* Optional: Adds a thin line like in your example */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
}
/* Footer Social Icons */
.social-icons {
    text-align: center;
    padding: 20px;
}

.social-icons a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 30px; /* Adjust the icon size */
    color: #fff; /* Icon color */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
    color: #f4f4f4; /* Change color on hover */
}


/* Footer Text */
footer p {
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    padding-top: 20px;
}
